#tabMenu {margin:0;padding:0 0 0 15px;list-style:none;}
#tabMenu li {float:left;width:39px;cursor:pointer;cursor:hand;font-weight:bold;padding:5px 10px 2px 10px;}

li.lastYear {background-color:#282828;border-right:1px solid #ffffff;}
li.currentYear {background-color:#282828;border-right:1px solid #ffffff;}
li.twoYearsAgo {background-color:#282828;border-right:1px solid #ffffff;}
li.threeYearsAgo {background-color:#282828;border-right:1px solid #ffffff;}
li.fourYearsAgo {background-color:#282828;}
li.selected {background-color:#d5c853;color:#000000;}
#tabMenu li a:link, #tabMenu li a:visited {color:#f70a17;text-decoration:none;}
#tabMenu li a:hover {color:#ffffff;}

.box {float:left;width:330px;}
.boxTop {background-color:#282828;height:11px;clear:both}
*html .boxTop {margin-bottom:-2px;}
.boxBody {background-color:#282828;color:#ffffff;}
.boxBottom {background-color:#282828;height:11px;}

.boxBody div {display:none;}
.boxBody div.show {display:block;}
.boxBody #category a {display:block;}

.boxBody div ul {margin:0 20px 0 25px;padding:0;width:290px;list-style-image:url(../images/arrow.gif)}
*html .boxBody div ul {margin-left:10px;padding-left:15px;}
.boxBody div li {border-bottom:1px dotted #8e8e8e; padding:6px 0;}
.boxBody div li  h4 {font-weight:bold;color:#f70a17;}
.boxBody div ul li.last {border-bottom:none}
.boxBody div li span {font-size:8px;font-style:italic; color:#888;}
 .boxBody a:link, .boxBody a:visited {color:#ffffff;text-decoration:none;padding:0px 3px 0px 3px;}
 .boxBody a:hover {background-color:#d5c853;color:#000000;}

.studentTable {width:300px}
.studentTable td {width:150px;}
.studentCategoryHeadings {font-weight:bold;padding:2px 0px;}